[Unit]
Description=NVIDIADriverUpdater Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/NVIDIADriverUpdater/
ExecStart=/home/pi/NVIDIADriverUpdater/venv/bin/python3 /home/pi/NVIDIADriverUpdater/NVIDIADriverUpdater.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
